// Global styles
@import 'base/core';

// Page styles

// <header> text fade in
@keyframes fade-in {
  from { opacity: 0; transform: scale(0.9); }
  to   { opacity: 1; transform: scale(1.0); }
}

// <header> background shifting
@keyframes shift {
  from { background-position: 0px 0px; }
  to { background-position: 600px 240px; }
}

header {
  @include center;
  flex-direction: column;

  // Syntax highlighter stopped working when this was directly embedded as a data url
  background-image: url("/graph.svg");
  background-color: #282828;
  background-attachment: fixed;
  animation: 30s linear shift infinite;

  height: 100vh; // Fallback if dvh unit is not supported
  height: 100dvh;

  h1 {
    margin: 0 0 16px 0;

    font-size: $name;
    text-align: center;

    // Fade in animation
    // @keyframes duration | easing-function | name
    animation: 2s ease fade-in;
  }

  span {
    font-size: $h3;
    text-align: center;

    // Fade in animation
    // @keyframes duration | easing-function | delay | name | fill-mode
    opacity: 0;
    animation: 3s ease 0.5s fade-in forwards;
  }
}

