// Global styles
@import 'base/core';
@import 'base/markdown';

// Page styles
// @import 'pages/blog/markdown';

// <header> background shifting
@keyframes shift {
  from {background-position: 0px 0px}
  to {background-position: 600px 240px}
}

header {
  @include center;
  flex-direction: column;

  // Syntax highlighter stopped working when this was directly embedded as a data url
  background-image: url("/graph.svg");
  background-color: #282828;
  background-attachment: fixed;
  animation: 30s linear shift infinite;

  min-height: 50vh; // Fallback if dvh unit is not supported
  min-height: 50dvh;

  h1 {
    margin: 0 0 16px 0;

    font-size: $page-title;
    text-align: center;
  }

  span {
    font-size: $h3;
    text-align: center;
  }
}

.metadata {
  width: fit-content;
  padding: 1em;

  border: 1px solid $foreground;
  border-radius: 16px;

  p {
    margin: 0;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;

  padding: 2em;
}

// Restrict the width of children
.article {
  width: 100%;
  max-width: 75ch;
}

