// Variables
@import '../base/colors';
@import '../base/fonts';
@import '../base/typography';

// Style
footer {
  border-top: 1px solid $foreground;

  // Center content
  nav {
    margin: 1em;
    display: flex;
    justify-content: center;
    gap: 0.5em; // Fallback if ch unit is not supported
    gap: 1ch;

    text-align: center;
  }

  p {
    text-align: center;
  }
}
